@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

html {
    font-size: 18px;
}

body {
    font-family: "Outfit";
}

* {
    /* border: 1px solid green; */
    margin: 0;
    padding: 0;
}

main {
    border: 1px solid black;
    max-width: 350px;
    padding: 20px;
}

main > img {
    width: 100%;
    border-radius: 10px;
}

h1 {
    font-size: 1.4rem;
    margin: 14px 0;
}