@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

html {
    font-size: 18px;
}

body {
    font-family: "Outfit";
}

* {
    /* border: 1px solid green; */
}

main {
    border: 1px solid black;
}