@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

html {
    font-size: 18px;
}

body {
    font-family: "Outfit";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

* {
    /* border: 1px solid green; */
    margin: 0;
    padding: 0;
}

main {
    border: 1px solid black;
    max-width: 350px;
    padding: 20px;
    border-radius: 12px;
}

main > img {
    width: 100%;
    border-radius: 10px;
}

h1 {
    font-size: 1.4rem;
    margin: 14px 0;
}

#price-time,
#price-time div {
    display: flex;
    align-items: center;
}

#price-time {
    justify-content: space-between;
    margin: 20px 0;
}

#price-time div {
    gap: 6px;
}

#user {
    display: flex;
    align-items: center;
    margin: 15px 0 7px 0;
    gap: 15px;
}

#user img {
    width: 35px;
    border: 1px solid hsl(0, 0%, 100%);
}